.button-add{
    z-index: 99;
    margin: 20px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: fixed;

    right: 0;
    bottom: 0;
    background-color: white;

    cursor: pointer;
}
.button-add svg{
    width: 100%;
    color: #0dcaf0;
}

.add-user-container{
    width: 40vw;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-user-container-item{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.add-user-container-item input {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px;
}

.add-user-container-button{
    width: 80%;
}
.add-user-container-button button{
    cursor: pointer;
    width: 100%;
    padding: 15px;
    background-color: #0dcaf0;
}